@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@font-face {
  font-family: "Luciole";
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Luciole-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "Luciole";
  font-weight: 700;
  font-display: swap;
  src: url('fonts/Luciole-Bold.woff2') format('woff2');
}

body {
  text-align: justify !important;
  font-size: 0.95rem !important;
  font-family: "Luciole";
}

h2, h3, h4, h5 {
  font-weight: bold;
  font-size: 1.4rem;
}

.cb1 {
  font-weight: bold;
  color: $primary;
}

.cb2 {
  font-weight: bold;
  color: $secondary;
}

dt {
  font-family: "Fira Code";
  font-weight: bold;
  font-size: 1.05rem;
}

[data-bs-theme="dark"] pre code span.co {
  font-style: normal !important;
}
